bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
DocumentUploader/appsettings.Development.json
.idea/
.vs/
/appSettings.Development.json
/.vs/DocumentUploader/FileContentIndex/f94478df-b602-40af-86ca-f0ddb571ca41.vsidx
/.vs/DocumentUploader/v17/.suo
